<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <error-page>
        <error-code>404</error-code>
        <location>/views/errors/errorPage404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/views/errors/errorPage500.jsp</location>
    </error-page>

    <listener>
        <listener-class>com.stakhiyevich.openadboard.controller.listener.HttpSessionListenerImpl</listener-class>
    </listener>
    <listener>
        <listener-class>com.stakhiyevich.openadboard.controller.listener.ServletContextListenerImpl</listener-class>
    </listener>
</web-app>